package main

import (
	"context"
	"fmt"
	"os"
	"os/signal"
)

func main() {
	exit := make(chan os.Signal)
	signal.Notify(exit, os.Interrupt)

	cfg, err := InitConfig()
	if err != nil {
		panic("cannot load configuration")
	}

	ctx, cancel := context.WithCancel(context.Background())
	go runApp(ctx, cfg)

	<-exit
	cancel()
}

func runApp(ctx context.Context, cfg Config) {
	fmt.Print("Hello world")
	<-ctx.Done()
}
